@import '../../../../media-queries.scss';

.switch {
  margin: 1rem auto;
  &:hover {
    color: #1845ad !important;
    text-decoration: underline;
    cursor: pointer;
  }
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -5rem;
  top: -5rem;
  @include sm {
    left: -7rem;
    top: -7rem;
  }
  @include md {
    left: -8rem;
    top: -8rem;
  }
  @include lg {
    left: -4rem;
    top: -10rem;
  }
  @include xl {
    left: -10rem;
    top: -8rem;
  }
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -3rem;
  bottom: -5rem;
  @include sm {
    right: -10rem;
    bottom: -15rem;
  }
  @include md {
    right: -10rem;
    bottom: -8rem;
  }
  @include lg {
    right: -10rem;
    bottom: -8rem;
  }
  @include xl {
    right: -10rem;
    bottom: -8rem;
  }
}
form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;

  @include sm {
    width: 80%;
  }
  @include md {
    width: 50%;
  }
  @include lg {
    width: 40%;
  }
  @include xl {
    width: 30%;
  }
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: black !important;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #e5e5e5;
  }
}

.btn-text {
  color: black !important;
}
