
.anime {
  animation-name: bounce;
  animation-duration: 1s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        transform: translateX(100%);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.success {
  background-color: #10b981;
}

.error {
  background-color: #b91c1c;
}

.warning {
  background-color: #a16207;
}

.info {
  background-color: #0369a1;
}